/SIMPL/Zigen SW-41Plus III 3.0.0.umc
/SIMPL/Zigen SW-41Plus III Help.pdf
/SIMPL/Zigen SW-41Plus MKIII 3.0.0.ush
/SIMPL/Zigen SW-41Plus MKIII 3.0.0.usp
/SIMPL/HXLPlus XPanel.c3prj
/Documentation/*.idlk
